<!DOCTYPE html>

<html>
    <body>
        <form method="post">
            <input name="Username" type="text" placeholder="Введите имя"> <br>
            <input name="User_tag_name" type="text" placeholder="Введите тег (необязательно)"> <br>
            <input name="Password" type="text" placeholder="Придумайте надёжный пароль"> <br>
            <input name="Confirm_password" type="text" placeholder="Введите пароль ещё раз"> <br>
            <input type="Submit" value="Зарегистрироваться!"> <br>

        </form>
    </body>
</html>